* {
  box-sizing: border-box;
}

body {
   font-family: 'Courier New', Courier, monospace;
   margin: 0;
}

h1 {
    background-color: rgb(77, 186, 219);
    color: rgb(43, 43, 56);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    flex-direction: row;
    padding: 5px;
    background-color: rgb(43, 43, 56);
}

.flex-boxes {
  display: flex;
}

.box1 {
  background-image: url("https://www.thoughtco.com/thmb/g8h6NnWWWVkm-KXNBgMx-0Edd2U=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages_482194715-56a1329e5f9b58b7d0bcf666.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}

.box2, .box3, .box4, .box5 {
  flex-basis: 45%;
  display: block;
  background-image: url("https://www.thoughtco.com/thmb/g8h6NnWWWVkm-KXNBgMx-0Edd2U=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages_482194715-56a1329e5f9b58b7d0bcf666.jpg");
  background-size: cover;
} 

.box2, .box4 {
  margin-right: 10%;
}

.section-title {
  flex-basis: 10%;
}

.work-container {
  flex-basis: 90%;
}

p {
  display: flex;
  justify-content: right;
  margin-right: 10px;
}

.nav-links {
  padding-right: 10%;
}

aside {
    flex: 30%;
    padding: 20px;
    flex-wrap: wrap;
}

ul {
    display: flex;
    flex-direction: row; 
    list-style-type: none;
    font-size: larger;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    margin-right: 50%;
  }

  nav a {
    color: #68b7d6;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-position: under;
  }

  .links {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
  }

 
  
  /* @media screen and (max-width: 992px) {
    body {
      background: #772014;
    }
  }

  @media screen and (max-width: 768px) {
    body {
      flex-direction: column;
    }
  } */

  